@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


	html{
		margin: 0;
	}

	body{
		margin: 0;
	}

	@font-face
	{
		font-family: 'Roboto', sans-serif;
		src: url("Polices/parade.ttf");
	}

	@font-face
	{
		font-family: GeosansLight;
		src: url("Polices/GeosansLight.ttf");
	}

/* HEADER */

	header
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		height: 8vh;
		font-family: 'Roboto', sans-serif;
		background-color: wheat;
		
	}


	


/* HAUT DE PAGE */

	#center-of-page
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 92vh;
		font-family: 'Roboto', sans-serif;
		background-image: url("Images/photo-1531431057391-da7a1aabd412.jfif");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 50px;
		color: #FFFFFF;
		text-shadow: 0 0 20px #000000;
	}

	#contact-main-page
	{
		background-color: black;
		text-decoration: none;
		padding: 15px 100px;
		font-size: 30px;
		text-shadow: 0 0 0 #000000;
		border-radius: 60px;
		text-align: center;
		color: #FFFFFF;
		font-family: 'Roboto', sans-serif;

	}

/* PRESENTATION */

	#presentation
	{
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: #000000;
		width: 100vw;
		height: 92vh;
		overflow: scroll;
	}

	#block{
		padding: 3vw 0;
	}

	.block_1{
		width: 50vw;
		background-color: #FFFFFF;
		padding: 3vw;
		margin: 0;
		font-family: 'Roboto', sans-serif;

	}

	.block_1 h1{
		font-size: 30px;
		padding-bottom: 3vw;
		margin: 0;
	}

	.block_1 p{
		font-size: 20px;
		margin: 0;
	}

	.photo{
		width: 56vw;
		margin: 0;
		vertical-align: middle;
	}

/* EQUIPE */

	#equipe{
		font-family: 'Roboto', sans-serif;
		background-color:#151515;
		padding: 20px;
		color: #FFFFFF;
	}

	.title-of-team{
		display:flex;
		flex-direction:row;
		justify-content:center;
		font-size:2.5em;
		color: white;
	}

	.team-left{
		display:flex;
		flex-direction:row;
		align-items:center;
		margin-right:auto;
		width:80%;
	}

	.right-team{
		display:flex;
		flex-direction:row;
		align-items:center;
		width:80%;
		margin-left:auto;
	}

	.right-team img{
		max-width:290px;
		margin:30px;
		border-radius: 50%;
	}

	.team-left img{
		max-width:290px;
		margin:30px;
		border-radius: 50%;
	}
	.text-of-team{
		display:flex;
		flex-direction:column;
		text-justify: auto;
		font-size:1.2em;
		flex-grow:1;
		color: #FFFFFF;
	}

	.name-of-team{
		font-weight:bold;
		font-size:1.4em;
		color: white;
		justify-content: right;
	}

/* REALISATIONS */

	#achievements{
		font-family: 'Roboto', sans-serif;
		background-color: black;
		padding: 20px;
		color: #FFFFFF;
	}

	.Achievements-1{
		display:flex;
		flex-direction:row;
		flex-wrap: wrap;
		justify-content:space-evenly;
		align-items:center;
		font-family: 'Roboto', sans-serif;

	}

	.Achievements-1 img {
		display:flex;
		flex-direction:row;
		flex-wrap: wrap;
		min-height:0;
		min-width:0;
		max-height:450px;
		max-width:610px;
		margin:20px;
		filter: grayscale(80%);
		transition: transform .2s;
	}

	#achievements2{
		flex-grow:3;
	}

	#achievements3{
		flex-grow:2;
	}

	#achievements4{
		flex-grow:3;
	}

	#achievements5{
		flex-grow:3;
	}

	.Achievements-1 img:hover {
		transform: scale(1.1); 
		filter:none;
	}


/* CONTACT */

	#contact{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
		height: 92vh;
		background-color: #151515;
		font-family: 'Roboto', sans-serif;

	}

	#contact-2{
		background-color: #FFFFFF;
		width: 50%;
		text-align: center;
		padding-bottom: 2vh;
		box-shadow: 0 0 10px #A05A00;
	}

	#contact h1{
		font-size: 2vw;
	}

	#contact form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
		width: 100%;
	}

	#contact ::placeholder{
		color: #000000;
	}

	#contact input[type=text], textarea{
		border: 1px solid #000000;
		padding: 1vh;
		width: 90%;
		margin: 1vh 0;
		background-color: rgba(0, 0, 0, 0);
		font-size: 18px;
		color: #000000;
		font-family: 'Roboto', sans-serif;

	}

	#contact textarea{
		height: 15vh;
	}

	#contact #button{
		padding: 1vw;
		margin: 1vh 0 0.5vh 0;
		border-radius: 30px;
		background-color: green;
		font-size: 20px;
		width: 30%;
		color: #FFFFFF;
		font-family: GeosansLight;
		box-sizing: content-box;
		cursor: pointer;
	}