@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
.wrapper {
  animation: sliding-background 40s linear infinite;
  background: url("https://images.unsplash.com/photo-1452697620382-f6543ead73b5") no-repeat left/120%;
  height: 70vh;
  text-align: center;
  width: 98vw;
  display: flex;
 
}

.title {
  background: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 10vw;
  letter-spacing: 1vw;
  line-height: 100vh;
  margin: 0;
  mix-blend-mode: lighten;
  text-transform: uppercase;
  text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black, 14px 14px black, 15px 15px black, 16px 16px black, 17px 17px black, 18px 18px black, 19px 19px black, 20px 20px black, 21px 21px black, 22px 22px black, 23px 23px black, 24px 24px black, 25px 25px black, 26px 26px black, 27px 27px black, 28px 28px black, 29px 29px black, 30px 30px black, 31px 31px black, 32px 32px black, 33px 33px black, 34px 34px black, 35px 35px black;
}
.title:before {
  color: white;
  content: attr(data-text);
  margin-left: -1%;
  margin-top: -1%;
  position: absolute;
}

@keyframes sliding-background {
  50%,
	100% {
    background-position: 0 40%;
  }
  50% {
    background-position: 100% 40%;
  }
}
body
{
  background-color: grey;
}
.presentationMain
{
	display:flex;
	width:80%;
	margin:auto;
	
	padding-bottom:3rem;
	border-bottom:1px solid;
    border-image: linear-gradient(to right, transparent, white, transparent) 100% 1;
}

/* @media all and (width: 375px){
    .presentationMain
} */

#topTitle
{
	background-color: blue;
	font-size:100px;
	width:640px;
  margin:auto;
  color: blue;
  
	
	font-family:Arvo;
	color:black;
	text-shadow:
	/* -3px -3px 0 #222,
	-3px 3px 0 #222,
	3px -3px 0 #222,
	3px 3px 0 #222, */
	4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
	
	opacity:0;
	
	animation-name:appear;
	animation-duration:4s;
	animation-fill-mode:forwards;
}

.presetationMain section
{
	display:flex;
  flex-direction:row;
  color: white;
	
}

.presentationMain img
{
	width:35%;
	/* filter:grayscale(80%); */
	
	box-shadow:
	-3px -3px 0 #222,
	-3px 3px 0 #222,
	3px -3px 0 #222,
	3px 3px 0 #222,
	6px 6px 0 #fff,
    7px 7px 0 #fff,
    8px 8px 0 #fff,
    9px 9px 0 #fff;
	
	margin:2%;
	border-radius: 10px;
}

.presentationMain section
{
	color:white;
	font-size:25px;
	margin-top:5%;
	text-align:justify;
}

.presentationMain section h1
{
  text-align:center;
  color: white;
}

h2 span  
{
    color: blue;
}


#container
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    border-radius: 2rem;
    width: 97%;
}



#container img
{
    width: 26%;
    padding: 50px;
    justify-content: space-between;
    transition:transform 1s ease;
    border-radius: 13%;
    border-radius: 65px;
}



#container img:hover
{
    transform: scale(1.1);

}


#details
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}

#details .info
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    font-size: 25px;
    color: white;
    width: 20%;

}



.topone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    font-size: 50px;
    font-weight: bolder;
}


*,
:before,
:after {
    box-sizing: border-box;
}



#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

#container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    min-height: 100vh;
    padding: 1em;
    width: 100%;
}

h1 {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 10em;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    color: whitesmoke;
}

h1:hover {
    animation-play-state: paused;
}


@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

/* BODY */

body
{
    margin: 0;
    padding: 0;
}

/* HEADER */

header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 18vh;
    width: 100%;
    background-color: #191A1D;
}

/*BARRE NAVIGATION HEADER*/

nav
{
    background-color: #191A1D;
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    text-align: center;
    color: white;
    width: 25vh;
    height: 5vh;
    margin: 1%;
}

nav label
{
    cursor: pointer;
}

.bloc-menu
{
    opacity: 0;
    background-color: #7755ff;
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
}
 
#coche:checked + .bloc-menu
{
    
    opacity: 1;
    transition: all 1s;
}

.p-nav
{
    font-size: 17px;
    color: white;
    margin: -0.1% 0;
}

.a-nav
{
    text-decoration: none;
    font-size: 15px;
    color: white;
}

/* FOOTER */

footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 18vh;
    width: 100%;
    background-color: #191A1D;
}

/* NAVIGATION */

.flex-footer
{
    display: flex;
    flex-direction: column;
    padding: 0 2%;
}

.p-footer
{
    font-size: 17px;
    color: white;
}

.a-footer
{
    text-decoration: none;
    font-size: 15px;
    color: white;
}