/* HTML BODY*/

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

html::-webkit-scrollbar
{
    width: 1%;
}

html::-webkit-scrollbar-thumb
{
    background-color: #012169;
}

html::-webkit-scrollbar-thumb:hover
{
    background-color: #e4002b;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    color: #595959;
}

/* HEADER */

/* MAIN */

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 15%;
    width: 100%;
    height:70%;

}

article 
{
    width: 100%;
    min-height: 100%;
}

a
{
    font-size: 17px;
    color: #e4002b;
    text-decoration: none;
    font-family: 'Mali', cursive;
}

/* AUSTRALIE */

#image1
{
    background-image: url('images/australie/australie.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 825%;
}

#h1-image1
{
    font-family: 'Mali', cursive;
    text-align: center;
    font-size: 35px;
    width: 100%;
    background-color: white;
    background-image: url('images/australie/australie.jpg');
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
	-webkit-background-clip: text;
}

/* BARRIER REEF */

#diaporama1
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    animation: diapo1 9s infinite;
}

@keyframes diapo1
{
    25%
    {
    background-image: url('images/australie/barrierreef1.jpg');
    }
    50%
    {
    background-image: url('images/australie/barrierreef2.jpg');    
    }
    75%
    {
     background-image: url('images/australie/barrierreef3.jpg');
    }
    100%
    {
     background-image: url('images/australie/barrierreef4.jpg');
    } 
}

#barrierreef
{
    width: 100%;
    background-color: white;
}

#h1-barrierreef
{
    font-family: 'Mali', cursive;
    font-size: 35px;
    text-align: center;
    background-image: url('images/australie/barrierreef1.jpg');
    background-size: contain;
    color: transparent;
    -moz-background-clip: text;
	-webkit-background-clip: text;
}

#p-barrierreef
{
    font-size: 17px;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;}

/* ADELAIDE */

#diaporama2
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    animation: diapo2 9s infinite;
}

@keyframes diapo2
{
    25%
    {
    background-image: url('images/australie/adelaide1.jpg');
    }
    50%
    {
    background-image: url('images/australie/adelaide2.jpg');    
    }
    75%
    {
     background-image: url('images/australie/adelaide3.jpg');
    }
    100%
    {
     background-image: url('images/australie/adelaide4.jpg');
    } 
}

#adelaide
{
    width: 100%;
    background-color: white;
}

#h1-adelaide
{
    font-family: 'Mali', cursive;
    font-size: 35px;
    text-align: center;
    background-image: url('images/australie/adelaide1.jpg');
    background-size: contain;
    color: transparent;
    -moz-background-clip: text;
	-webkit-background-clip: text;
}

/* KANGAROO ISLAND */

#diaporama3
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    animation: diapo3 9s infinite;
}

@keyframes diapo3
{
    25%
    {
    background-image: url('images/australie/kangarooisland1.jpg');
    }
    50%
    {
    background-image: url('images/australie/kangarooisland2.jpg');    
    }
    75%
    {
     background-image: url('images/australie/kangarooisland3.jpg');
    }
    100%
    {
     background-image: url('images/australie/kangarooisland4.jpg');
    } 
}

#kangarooisland
{
    width: 100%;
    background-color: white;
}

#h1-kangarooisland
{
    font-family: 'Mali', cursive;
    font-size: 35px;
    text-align: center;
    background-image: url('images/australie/kangarooisland1.jpg');
    background-size: contain;
    color: transparent;
    -moz-background-clip: text;
	-webkit-background-clip: text;
}

#p-kangarooisland
{
    font-size: 17px;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
}

/* SYDNEY */

#image2
{
    background-image: url('images/australie/sydney.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#sydney
{
    width: 100%;
    background-color: white;
}

#h1-sydney
{
    font-family: 'Mali', cursive;
    font-size: 35px;
    text-align: center;
    background-image: url('images/australie/sydney.jpg');
    background-size: contain;
    color: transparent;
    -moz-background-clip: text;
	-webkit-background-clip: text;
}

/* BONDI BEACH */

#diaporama4
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    animation: diapo4 9s infinite;
}

@keyframes diapo4
{
    25%
    {
    background-image: url('images/australie/bondibeach1.jpg');
    }
    50%
    {
    background-image: url('images/australie/bondibeach2.jpg');    
    }
    75%
    {
     background-image: url('images/australie/bondibeach3.jpg');
    }
    100%
    {
     background-image: url('images/australie/bondipool.jpg');
    } 
}

#bondibeach
{
    width: 100%;
    background-color: white;
}

#h1-bondibeach
{
    font-family: 'Mali', cursive;
    font-size: 35px;
    text-align: center;
    background-image: url('images/australie/bondipool.jpg');
    background-size: contain;
    color: transparent;
    -moz-background-clip: text;
	-webkit-background-clip: text;
}

#p-bondibeach
{
    font-size: 17px;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;}

/* FOOTER */